<div id="header" th:fragment="header" xmlns:th="http://www.thymeleaf.org">
    <a href="/store/page">
        <div id="homeIconWrapper">
            <h2>Fixer</h2>
        </div>
    </a>
    <div th:replace="icons/userIcon :: user_icon"></div>
    <div id="menu">
        <div class="menuItem" id="chatsItem" th:if="${visibility}">
            <div th:replace="icons/chatIcon :: chat_icon"></div>
            <h4>Чаты</h4>
        </div>
        <div class="menuItem" id="logOutItem">
            <div th:replace="icons/logoutIcon :: logout_icon"></div>
            <h4>Выйти</h4>
        </div>
    </div>
</div>

<div id="editMenu" th:fragment="editMenu" xmlns:th="http://www.thymeleaf.org">
    <div class="menuItem" id="deleteItem">
        <h4>Delete</h4>
    </div>
</div>

<div id="editMenu" th:fragment="editMenuContent" xmlns:th="http://www.thymeleaf.org">
    <div class="menuItem" id="deleteItem">
        <h4>Delete</h4>
    </div>
    <div class="menuItem" id="addPeopleItem">
        <h4>Add people</h4>
    </div>
</div>