button {
    height: 34px;
    width: 100px;
    background-color: #5C5C5C;
    border-radius: 5px;
    border-width: 0px;
    outline: none;
}

button:active {
    background-color: #21262d;
}

button {
    font-family: Roboto;
    font-size: 16px;
    color: #ffffff;
}
