<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/style/frame/content_frame.css}"/>
    <script th:src="@{/script/jquery/JQuery.js}"></script>
</head>
<body>
<div id="chat">
    <div id="messageContainer"></div>
    <input id="messageField" placeholder="Сообщение" type="text">
    <button id="messageButton">Отправить</button>
    </input>
</div>
<div th:replace="fragments/popups :: create_popup"></div>
</body>
<div th:replace="frames/frag/car_service_frame_fragments :: scripts"></div>
</html>