<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/style/frame/success_frame.css}"/>
    <script th:src="@{/script/jquery/JQuery.js}"></script>
</head>
<body>
<svg class="successIcon" height="100" viewBox="0 0 48 48" width="100" x="0px" xmlns="http://www.w3.org/2000/svg"
     y="0px">
    <path d="M44,24c0,11.045-8.955,20-20,20S4,35.045,4,24S12.955,4,24,4S44,12.955,44,24z" fill="#4caf50"></path>
    <path d="M34.602,14.602L21,28.199l-5.602-5.598l-2.797,2.797L21,33.801l16.398-16.402L34.602,14.602z"
          fill="#ccff90"></path>
</svg>
<h3>Ваш Заказ успешно создан! Ожидайте письма на вашу почту о деталях заказа</h3>
</body>
</html>