.equipment{
    background-color: #000000;
    border-radius: 5px;
    opacity: 0.8;
    backdrop-filter: blur(5px);
    margin: 10px;
}
.equipmentImg{
    height: 200px;
    weight: 200px;
}

td,th{
    color: #aaaea8;
}

.inputParamDisabled{
    pointer-events:none;
    background-color: #020304;
}

.paramAddButton{
    width: 35px;
    background-color: #84b58f;
}