@import "menu_item.css";


#menu {
    display: none;
    position: fixed;
    right: 2%;
    top: 55px;
    height: 30px;
    width: 130px;
    border-radius: 5px;
    background: #020304;
}

.menuItem:active {
    background: #21262d;
}